*{
    margin: 2px;
    padding: 0px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#exercicio1{
    height: 98vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fig1{background-color: orange;}
.fig2{background-color: rgb(103, 103, 182);}


#exercicio2{
    height: 98vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}

.ex2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2{
    display: flex;
    justify-content: space-between;
    width: 98vw;
}

.circle{
    background-color: orange;
    border-radius: 100%;
    align-self: flex-start;
}

.square{
    background-color: rgb(103, 103, 182);
    align-self: flex-end;
}

/* Jogo do sapo:
flex-wrap: wrap-reverse;
flex-direction: column-reverse;
justify-content: center;
align-content: space-between;
 */
